@import "../../styles/Mixins.scss";

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 25px;

  h1 {
    text-align: center;
  }

  .add-note {
    background: #c26565;

    &:hover {
      background: #cc5757;
      @include box-shadow;
    }
  }
}